Dependencies and Builds

node_modules
.npm
npm-debug.log
.yarn
.pnp.*
.next/cache
.next/static

Development and Local Files

.git
.gitignore
.vercel
.vscode
.DS_Store

Next.js Standalone Mode Exclusions

We only want the STANDALONE folder (which contains only necessary files),

so we ignore the entire standard build folder.

.next
!/public